.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.form-top {
    text-align: center;
}

.div-form-top {
    width: 30%;
    margin: 25px auto;
}